# Records for Generic Modbus Device
# Macros:
#     DEV - PV basename
#     N   - Device index

#record(longin, $(DEV):NUM_CHANNELS)
#{
#        field(DTYP, "asynInt32")
#        field(INP,  "@asyn(GMB$(N)_region,$(OFFSET=0))UINT16")
#        field(SCAN, "5 second")
#}
